.lectureLectures{
    width: 100%;
    height: fit-content;
    padding: 50px 20%;
    box-sizing: border-box;
}
 
.lectureLecturesWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.lectureLecturesWrapper h2{
    text-align: center;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: black;
}

.lectureLecturesListWrapper{
    display: flex;
    width: 100%;
    height: auto;
    margin: 25px 0 75px 0;
    justify-content: space-around;
}

.lectureLecturessList{
    display: flex;
    flex-direction: column;
}

.lectureLecturesItem{
    width: 25%;
    height: 120px;
    background-color: white;
    display: flex;
    box-shadow: 1px 0px 25px rgba(221, 221, 221, 0.712);
}

.lectureLecturesItemImage{
    width: 45%;    
    background-color: rgb(6, 34, 6);
    overflow: hidden;
}

.lectureLecturesItemImage img{
    width: 180%;
    transform: translateX(-40%);
    /* object-fit: cover; */
    margin: 0;
}


.lectureLecturesItemInfo{
    padding: 10px 20px;
    color: rgb(92, 102, 85);
    color:rgb(55, 59, 53);
    height: auto;
}

.lectureLecturesItemTitle{
    margin-bottom: 10px;
}

.lectureLecturesItemDetails li{
    list-style: none;
    margin-bottom: 8px;
    font-size: 11px;
    font-weight: bold;
}

.downloadButton{
    border: 1.5px solid green;
    color: green;
    padding: 5px 10px;
    background-color: white;
    transition: .35s;
}

.downloadButton:hover{
    background-color: rgb(0, 68, 0);
    color: white;
    border: none;
}

.downloadButton:active{
    transform: scale(.75);
}