.aboutHero{
    width: 100%;
    padding: 0px 20%;
    box-sizing: border-box;
}

.aboutHeroWrapper{ 
    width: 100%;
    position: relative;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutHeroWrapper img{
    position: absolute;

}

.aboutHeroWrapper h2{
    position: absolute;
    z-index: 2;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}





@media screen and (max-width: 1680px) {
	.aboutHero {
		padding: 0 10%;
	}
}

@media screen and (max-width: 1024px) {
	.aboutHero {
		padding: 0 5%;
	}
}

@media screen and (max-width: 375px) {
	.aboutHero {
		padding: 0;
	}

	.heroItemImage {
		width: 200%;
	}

	.heroItemHeading {
		margin-bottom: 20px;
		padding: 10px 15px;
		border-radius: 10px;
		color: white;
		opacity: 0;
		background-color: rgb(100, 187, 0);
		transform: translateY(-200%);
		transition-duration: 1s;
	}

	.heroItemText {
		width: 75%;
        font-size: 14px;
		line-height: 22px;
	}
}
